:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: hsl(218, 41%, 23%);
  --navy-shadow: rgba(3, 13, 28, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: rgb(230, 241, 255);
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
  --proj-background: #140E1A;
  --proj-grey: #303436;
  --proj-transBlue: #5BCEFA;
  --proj-genderQueerPurple: #B57EDC;
  --proj-transPink: #F5A9B8;
  --proj-nonBinaryGold: #F4D06F;
  --proj-agenderGreen: #A2FAA3;
  --proj-straightBlue: #0868AC;
  --proj-machine-learning: #F037A5;
  --proj-fullstack: #06FF00;
  --proj-frontend: #08fdd8;
  --proj-backend: yellow;
  --proj-data-science: orange;
  --breakpoint-large: 75em;
  --breakpoint-medium: 55em;
  --breakpoint-small: 35em;
  --side-element-padding: 1.7em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: var(--dark-navy);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container {
  padding-inline: clamp(13%, 7vw, 100px);
}

/* Background Image on Homepage */
.home {
  background-image: url("../public/background-home-desktop.jpg");
  background-repeat: no-repeat;
}

/* ------------- General Use ------------- */
.green-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: 4px;
  padding: 0.75rem 1.25rem;
  font-family: var(--font-mono);
  text-decoration: none;
  cursor: pointer;
}

.underline-indicators > * {
  padding: var(--underline-gap, 1rem) 0;
  border-bottom: 0.2rem solid rgba(230, 241, 255, 0);
}
.underline-indicators > *:hover, .underline-indicators > *:focus {
  border-color: rgba(230, 241, 255, 0.5);
}
.underline-indicators > * .active, .underline-indicators > *[aria-selected=true] {
  border-color: rgb(230, 241, 255);
}

/* ------------- Navigation ------------- */
.primary-header {
  margin: 0;
  padding: 0;
  font-family: var(--font-mono);
  color: var(--white);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  --underline-gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsla(0deg, 0%, 0%, 0.85);
}
.primary-navigation a {
  text-decoration: none;
}
.primary-navigation a > span[aria-hidden=true] {
  color: var(--green);
  -webkit-margin-end: 0.25em;
          margin-inline-end: 0.25em;
}
.primary-navigation[data-visible=true] {
  transform: translateX(0%);
}
.primary-navigation .special {
  border-color: transparent;
}
.primary-navigation .special:hover {
  transform: scale(1.04);
}

@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
  .primary-navigation {
    background: hsla(0deg, 0%, 100%, 0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.logo {
  margin: 1.5rem;
  width: 75px;
}

.mobile-nav-toggle {
  display: none;
}

.sr-only {
  display: none;
  visibility: hidden;
}

@media (max-width: 55em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(10rem, 25vh) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("../public/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url("../public/icon-close.svg");
  }
}
@media (min-width: 55em) and (max-width: 70em) {
  .primary-navigation a > span[aria-hidden] {
    display: none;
  }
}
@media (min-width: 55em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 0rem;
    margin-block: 1.75rem;
    padding-inline: clamp(3rem, 6vw, 7rem);
  }
}
@media (min-width: 70em) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    background: var(--slate);
    width: 100%;
    margin-right: -2.5rem;
    order: 1;
  }

  nav {
    order: 2;
  }
}
/* ------------- Hero ------------- */
.section-hero {
  height: 100vh;
  padding-inline: clamp(25px, 7vw, 100px);
}

/* ------------- About ------------- */
/* ------------- Experience ------------- */
/* ------------- Projects ------------- */
.featured-project {
  padding-block: 20px;
  color: var(--lightest-slate);
  display: flex;
  align-items: center;
}
@media (min-width: 55em) {
  .featured-project.right {
    flex-direction: row-reverse;
  }
  .featured-project.right .project-image {
    margin-right: -35px;
  }
  .featured-project.left .project-image {
    margin-left: -35px;
  }
}
.featured-project .project-card {
  z-index: 5;
  width: 55%;
  background-color: var(--navy);
  border-top: 5px solid;
}
.featured-project .project-card .content {
  padding: 0.2em 1.5em 0.5em 1.5em;
}
.featured-project .project-card .technologies {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.featured-project .project-card .technologies li {
  padding-top: 1.5em;
  padding-right: 1em;
  font-family: var(--font-mono);
  font-size: 11pt;
  color: var(--light-slate);
}
.featured-project .project-image {
  width: 100vh;
  z-index: 0;
}
.featured-project .project-image img {
  width: 100%;
}

.other-projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px 13px;
  position: relative;
}

.card-styling .other-card {
  background-color: var(--navy);
  border-top: 1px solid;
  padding: 0em 1em;
}
.card-styling h3 {
  padding: 1em 0em 0em 0em;
  margin: 0;
  color: var(--proj-agenderGreen);
  font-size: 11pt;
}
.card-styling h2 {
  padding: 0;
  margin: 0;
  color: var(--white);
  font-size: 20pt;
}
.card-styling p {
  font-size: 12pt;
  padding-bottom: 0;
  margin-bottom: 0;
}
.card-styling a {
  -webkit-padding-end: 1.3em;
          padding-inline-end: 1.3em;
}
.card-styling a svg {
  width: 1.6em;
  height: 1.6em;
}
.card-styling .cta {
  padding: 0.7em 0em;
}

.project .fullstack {
  border-color: var(--proj-fullstack);
}
.project .fullstack h3 {
  color: var(--proj-fullstack);
}
.project .machine-learning {
  border-color: var(--proj-machine-learning);
}
.project .machine-learning h3 {
  color: var(--proj-machine-learning);
}
.project .frontend {
  border-color: var(--proj-frontend);
}
.project .frontend h3 {
  color: var(--proj-frontend);
}
.project .backend {
  border-color: var(--proj-backend);
}
.project .backend h3 {
  color: var(--proj-backend);
}
.project .data-science {
  border-color: var(--proj-data-science);
}
.project .data-science h3 {
  color: var(--proj-data-science);
}

@media (max-width: 55em) {
  .featured-project {
    flex-direction: column;
  }
  .featured-project.right, .featured-project.left {
    flex-direction: column;
  }
  .featured-project .project-card {
    width: 100%;
    order: 2;
  }
  .featured-project .project-image {
    width: 100%;
    order: 1;
  }
}
/* ------------- Research ------------- */
.research-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.research-list * {
  margin: 0;
  padding: 0;
}

.research-paper {
  display: flex;
  align-content: center;
  padding-bottom: 12px;
}
.research-paper .paper-image img {
  height: 125px;
}
@media (max-width: 55em) {
  .research-paper .paper-image {
    visibility: hidden;
    width: 0px;
  }
}
.research-paper .paper-content {
  padding-left: 15px;
}
.research-paper .paper-content * {
  padding: 0;
  margin: 0;
}
.research-paper .paper-content h1 {
  color: turquoise;
}
.research-paper .paper-content h2 {
  color: turquoise;
}
.research-paper .paper-content h3 {
  color: turquoise;
}
.research-paper .paper-content p {
  color: turquoise;
}
.research-paper .paper-content ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.research-paper .paper-content ul li {
  -webkit-padding-end: 1em;
          padding-inline-end: 1em;
}
.research-paper .paper-content ul li[author="Adrian Davila"] {
  color: red;
}

/* ------------- Contact ------------- */
.contact-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: var(--font-mono);
  font-weight: 100;
  font-size: var(--fs, 12pt);
  color: var(--green);
}
.contact-title:before, .contact-title:after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  background: var(--dark-slate);
  width: 35%;
  margin-inline: 2em;
}
@media (max-width: 35em) {
  .contact-title:before, .contact-title:after {
    width: 0px;
  }
}
@media (min-width: 35em) and (max-width: 80em) {
  .contact-title:before, .contact-title:after {
    width: clamp(15%, 10vw, 35%);
  }
}

.section-contact {
  padding-top: 15vh;
  padding-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-contact h2 {
  margin: 0;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  font-size: 40pt;
  color: var(--lightest-slate);
}
.section-contact p {
  width: 52%;
  color: var(--light-slate);
  font-family: var(--font-sans);
  padding-bottom: 3.5em;
}
@media (max-width: 55em) {
  .section-contact {
    padding-bottom: 10vh;
  }
  .section-contact p {
    width: 100%;
    padding: 0 0 2vh 0;
  }
  .section-contact .cta {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
.section-contact a {
  margin: 0.5em;
}

/* ------------- Footer ------------- */
/* ------------- Side Social List ------------- */
.side-socials {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0px 15px;
  list-style: none;
}
.side-socials a {
  padding: 0px 10px;
}
.side-socials a svg {
  width: 30px;
  height: 30px;
  margin-bottom: 4px;
}
.side-socials a svg:hover, .side-socials a svg:focus {
  transform: translateY(-2px);
}
@media (max-width: 55em) {
  .side-socials {
    position: relative;
    flex-direction: row;
    justify-content: center;
  }
  .side-socials a svg {
    margin-bottom: 0;
  }
  .side-socials:last-of-type {
    margin-bottom: 10px;
  }
}
@media (min-width: 55em) {
  .side-socials {
    margin-left: 0.5em;
  }
  .side-socials:after {
    content: "";
    display: block;
    width: 1px;
    height: 7em;
    margin: 0 auto;
    background-color: var(--light-slate);
  }
}

/* Side Email Component */
.side-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
.side-email a {
  margin: 5px auto;
  padding: 12px;
  font-family: var(--font-mono);
  color: --light-slate;
  letter-spacing: 0.1em;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
@media (max-width: 55em) {
  .side-email {
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
  }
  .side-email a {
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    padding-top: 0;
    padding-bottom: 1.2em;
    margin: 0;
  }
}
@media (min-width: 55em) {
  .side-email {
    margin-right: 1.1em;
  }
  .side-email:after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--light-slate);
  }
  .side-email:hover, .side-email:focus {
    transform: translateY(-3px);
  }
}/*# sourceMappingURL=globals.css.map */